@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html,
body {
    height: 100%;
}
body {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #010101;
    background-color: #f1f1f1;
    display: grid;
    place-items: center;
    text-align: center;
}
.card {
    width: 100%;
    max-width: 370px;
    padding: 1.5rem 2rem;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: none;
}
h1 {
    margin-bottom: 1.5rem;
}
.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}
label {
    text-align: left;
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
}
input {
    padding: 0.5rem 1rem;
    border-radius: 10px;
    border: 1px solid #888;
}
.btn {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    color: #f1f1f1;
    background-color: #010101;
    border-radius: 10px;
    border: 1px solid #010101;
}
.btn:hover {
    background-color: #f1f1f1;
    color: #010101;
}
